[Unit]
Description=RFKill-Unblock WiFi Devices
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/rfkill unblock all
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
