# Runs the script bt-test-trigger which appends to /tmp/test-trigger.log
# Use bt-udev-pane (software-toolbox) for useful commands to configure this udev file
KERNEL=="tty*",\ 
KERNELS=="3-1.4",\ # Specific USB port
SUBSYSTEM=="tty",\
ATTRS{idVendor}=="1366",\
ATTRS{idProduct}=="0105",\
RUN+="/usr/local/bin/bt-test-trigger"
