[Unit]
Description="Start X11VNC server on startup"
Requires=display-manager.service
After=display-manager.service

StartLimitIntervalSec=0

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu

TimeoutStartSec=infinity
TimeoutStopSec=infinity

ExecStart=/usr/bin/x11vnc -xkb -noxrecord -ncache 10 -noxfixes -noxdamage -display :0 -auth guess -rfbauth .x11vnc.pass
ExecStop=/usr/bin/killall x11vnc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
